.subtitulo{
    color:rgb(255, 255, 255);

    padding:1rem 2rem  ;

    margin: 2rem 0rem 1.5rem 0rem;
}

.ul_card_large{
    padding: .6rem 5rem .2rem;
    font-size: 2rem;
}

.subtitulo_h6{
    color:rgb(255, 255, 255);

    padding:1rem 2rem ;
}

.lar{
    height: fit-content;
}

.card.card.large p{
    max-width: 100%;
}


.mobile .card.large.lar{
    height: fit-content;
}